<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Home Page</a>
      <p>
        
      </p>
      <ul class="nav pull-right">
        <li>

<% if current_user %>
 <%= current_user.name %>
  <%= link_to "Sign Out from Github", signout_path %>
<% else %>
  <%= link_to image_tag("http://blog.eogn.com/.a/6a00d8341c767353ef016762f7c808970b-800wi", :size => "40x40", :border => 2, :alt => "rss feed"), "/auth/github"  %>
<% end %>

</li>
<li>
<%= link_to image_tag("http://railscasts.com/static/episodes/stills/336-copycopter.png", :size => "100x100", :alt => "rss"), "http://lit-hollows-3727.herokuapp.com"  %>

</li>
</ul>
    </div>
  </div>
</div>
