<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Home Page</a>
      <p>
        
      </p>
      <ul class="nav pull-right">
        <li><%= link_to "Link 1", "" %></li>
	<li><%= link_to "Created by", "" %></li>
</ul>
    </div>
  </div>
</div>
